/* use font */

.header {
    margin-bottom: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #964b00;
    padding: 10px;
}

.header h1 {
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
}

.swagger-ui:nth-child(2) div.scheme-container {
    display: none;
}

.swagger-ui:nth-child(2) div.information-container.wrapper {
    display: none;
}

#operations-tag-default {
    display: none;
}
