@font-face {
    font-family: "Otomanopee One";
    src: url("/fonts/OtomanopeeOne-Regular.ttf") format("truetype");
}

body {
    padding: 0;
    margin: 0;
    font-family: "Otomanopee One";
}

.header-title {
    background-color: rgb(61, 40, 40);
    color: whitesmoke;
    text-align: center;
}

.main-body {
    padding-top: 40px;
}

.main-body .card-body p {
    font-size: small !important;
}

.main-body .card-body .card-title {
	font-size: x-large !important;
    font-weight: bold;
}

.main-body .base-url {
    font-weight: bold;
    font-size: large !important;
}
