.swagger-ui:nth-child(2) div.scheme-container {
    display: none;
}

.swagger-ui:nth-child(2) div.information-container.wrapper {
    display: none;
}

#operations-tag-default {
    display: none;
}
